
<div>
	<p> The list of all clocks</p>
	<table>
	<% @clock.each do |c| %>
	<tr><td>
	  <%= link_to c.name, clock_path(c) %></td>
	   <td><%= link_to 'Edit', edit_clock_path(c) %></td>
	  <td><%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
	 </tr>
	<% end %>
</table>
</div>

<div>
	<span> Create a new clock </span>
	<%= link_to 'New Clock', new_clock_path %>

</div>



