<%= javascript_include_tag "raphael-min" %>
<%= javascript_include_tag "clock" %>

<div style="padding: 100px 150px;">
  <table border="0">
  <tr><td> <div id="clock_id" style="display:inline-block;"></div></td>
  <td> <div style="padding: 0px 20px;"><h2>The time is <span id="digi_clock"></span></h2></div></td></tr>
  </table>

</div>
<script type="text/javascript">
  draw_clock(0,0,0);
</script>
